.content

    &__table-cell

        &_role

            &_header
                text-align left
                background #765F8C
                color #fff
                font-weight normal
                text-shadow none
                border none

@media $small_only

    .content

        &__table-cell

            &_role

                &_header
                    border-bottom 1px solid #A598B2