.content

    &__img

        &_align

            &_center
                display: block
                margin-left: auto
                margin-right: auto

            &_float-left
                float: left
                margin-right: 1em

            &_float-right
                float: right
                margin-right: 1em
