@media (--small-only)
   .content

        &__table

            &_responsive

                &_turn-scroll-body
                    display: block
                    font-size: .75rem
                    position: relative

                    &:before
                        color: #888
                        content: 'ⓘ Если таблица не помещается на вашем экране, вы можете прокручивать ее влево/вправо'
                        display: block
                        margin-bottom: 5px

                    &:after
                        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))
                        content: ' '
                        display: block
                        height: 100%
                        position: absolute
                        right: 0
                        top: 0
                        width: 20px

                    .table

                        &__cell
                            display: block

                        &__header
                            display: block
                            float: left

                            .table
                                &__row
                                    display: block

                        &__body
                            display: block
                            overflow-x: auto
                            white-space: nowrap
                            width: auto

                        &__body

                            .table

                                &__row
                                    display: inline-block
